@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=vietnamese";
*{
    margin: 0;
    padding: 0;
}

.playlist-video-img {
    min-width: 115px;
    height: 100%;
    position: relative;
    background-size: cover;
}

.playlist {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.playlist-video-author {
    font-size: .8em;
}

.playlist-video-title {
    width: 70%;
    margin-bottom: 0;
}

.playlist-video:hover .playlist-video-title {
    color: #5e72e4;
}

.playlist-video-content {
    margin-left: 9px;
}

.playlist-video {
    display: flex;
    align-items: center;
    height: 78px;
    margin: 8px;
    padding: 7px 19px;
    cursor: pointer;
    position: relative;
    transition: ease-in-out .2s;
}

.playlist-video:hover .playlist-video-delete {
    display: block;
}

.playlist-video-delete.active {
    display: block;
}


.playlist-video.active {
    background-color: #ececec;
}

.playlist-video:hover {
    background-color: #ececec;
}

.playlist-video img {
    height: 100%;
}

.playlist-video-delete {
    width: 20px;
    position: absolute;
    right: 3%;
    opacity: .5;
    display: none;
}

.playlist-video-delete:hover {
    opacity: 1;
}

.playlist-video-play{
    width: 14px;
    margin-right: 10px;
    opacity: .5;
}

.alert-fixed {
    position: fixed;
    right: 3%;
    top: 3%;
    width: 70vh;
}

body{
    font-family: montserrat,sans-serif;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.form-center{
    width: 100vh;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.form-wrap{
    display: flex;
}

.video-player{
    display: flex;
    justify-content: center;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }