@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=vietnamese"; * {
    margin: 0;
    padding: 0;
}

.controls-toggles{
    display: flex;
    transform: scale(.85);
}

.icon-controls{
    width: 15px;
}

.move-window {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.frame-block:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
    z-index: 5000;
}

.window-control {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5000;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    background: linear-gradient(to right, #536976, #292e49);
}

.playlist-video-img {
    min-width: 115px;
    height: 100%;
    position: relative;
    background-size: cover;
}

.playlist {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.playlist-video-author {
    font-size: .8em;
}

.playlist-video-title {
    width: 70%;
    margin-bottom: 0;
}

.playlist-video:hover .playlist-video-title {
    color: #5e72e4;
}

.playlist-video-content {
    margin-left: 9px;
}

.playlist-video {
    display: flex;
    align-items: center;
    height: 78px;
    margin: 8px;
    padding: 7px 19px;
    cursor: pointer;
    position: relative;
    transition: ease-in-out .2s;
}

.playlist-video:hover .playlist-video-delete {
    display: block;
}

.playlist-video-delete.active {
    display: block;
}

.playlist-video.active {
    background-color: #ececec;
}

.playlist-video.active .playlist-video-title {
    color: #5e72e4;
}

.playlist-video:hover {
    background-color: #ececec;
}

.playlist-video img {
    height: 100%;
}

.playlist-video-delete {
    width: 20px;
    position: absolute;
    right: 3%;
    opacity: .5;
    display: none;
}

.playlist-video-delete:hover {
    opacity: 1;
}

.playlist-video-play {
    width: 14px;
    margin-right: 10px;
    opacity: .5;
}

body {
    font-family: montserrat,sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.form-center {
    width: 100vh;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.form-wrap {
    display: flex;
}

.video-player {
    display: flex;
    justify-content: center;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe.frame-youtube {
    position: fixed;
    z-index: 1000;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.slidecontainer {
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 5px;
    background: #eceeef;
    box-shadow: inset 0 1px 2px rgba(90,97,105,.1);
    margin: 15px 0;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #5e72e4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #5e72e4;
    cursor: pointer;
}
